body {
  font-family: "lato", sans-serif;
  font-weight: 400;

  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.headingPrimary {
  color: white;
  text-transform: uppercase;

  /* hack to fix shaking in animation or to hide background if you are rotating element */
  backface-visibility: hidden;
  margin-bottom: 60px;

  &Main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &Sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    text-align: center;
    animation: moveInRight 1s ease-out;
  }
}
.headingSecondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.headingTertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
