.header {
  height: 95vh;
  background-image: linear-gradient(
      to top,
      rgba($color-gray-dark, 0.386),
      rgba($color-primary-dark, 0.7)
    ),
    url(../img/image.jpeg);
  background-size: scale;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &.logoBox {
    position: absolute;
    top: 0.5rem;
    left: 0rem;
  }
}

.textBox {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logoImg {
  height: 150px;
  width: 100px;
  position: absolute;
  left: 0;
}
